@{
    Page.Title = "Certificates";
    Layout = "~/_SiteLayout.cshtml";
    
    CurrentUser user = new CurrentUser();
    Certificate certificate = new Certificate(user);
    string downloadClicked = "false";

    if (IsPost)
    {
        var action = Request["action"];
        if (action == "delete")
        {
            var certificateId = Request["certificate-id"];

            certificate.Delete(certificateId);
        }
        else if (action == "download")
        {
            downloadClicked = "true";
            var CertificateId = Request["certificate-id"];
            certificate.Load(CertificateId);
        }
    }
}

<script src="~/Scripts/jspdf.min.js" type="text/javascript"></script>
<script src="~/Scripts/dom-to-image.min.js" type="text/javascript"></script>

<script type="text/javascript">
    var downloadClicked = @Html.Raw(downloadClicked);
    var img = new Image();

    $(function () {
        if (downloadClicked) { 
            //Convert the cv to an image
            //Only rendered elements can be converted to image, so to "hide" the CV we position it off-screen
            var container = document.getElementById('hidden-container'); 

            domtoimage.toJpeg(container, {
                style: {
                    // Revert the off-screen positioning
                    position: "static",
                    left: 0
                }
            })
                .then(function (dataUrl) {
                    img.onload = createPdf;
                    img.pdfName = "@certificate.Type";
                    img.src = dataUrl;
                })
                .catch(function (error) {
                    alert('PDF creation failed! Error: '  + error);
                });
        }
        $('.cv-table').on('click', '.delete', function () {
            var elementId = $(this).attr('id');
            var CertificateId = elementId.replace("delete-certificate-", "");
            var documentName = $("#name-certificate-" + CertificateId).html();
            if (confirm("Are you sure you want to delete " + documentName + "?")) {
                $('#action').val("delete");
                $('#certificate-id').val(CertificateId);
                $('#post-action').submit();
            }
        });
        $('.cv-table').on('click', '.download', function () {
            var elementId = $(this).attr('id');
            var CertificateId = elementId.replace("name-certificate-", "");
            $('#action').val("download");
            $('#certificate-id').val(CertificateId);
            $('#post-action').submit();
        });
        $('#WebDevTest').on('click', function () {
            @{
                var temp = "";
                if (!user.HasTooManyCertificates()) {
                    temp = "window.location.href = 'WebDevTest.cshtml'";
                } else
                {
                    temp = "alert('Certificate limit reached! Please delete an existing certificate to continue.')";
                }
            }
            @Html.Raw(temp);
        });
        $('#MolBioTest').on('click', function () {
            @{
                temp = "";
                if (!user.HasTooManyCertificates()) {
                    temp = "window.location.href = 'MolBioTest.cshtml'";
                } else
                {
                    temp = "alert('Certificate limit reached! Please delete an existing certificate to continue.')";
                }
            }
            @Html.Raw(temp);
        });
    });

    function createPdf() {    
        var pdf = new jsPDF("p", "mm", "a4");
        pdf.addImage(img, 'JPEG', 0, 0);

        var documentName = img.pdfName.replace(/[^\w\s]/gi, '');
        if (documentName == "") {
            documentName = "certificate";
        }
        pdf.save(documentName + ".pdf");
        
    }
</script>

<div class="biggertextsize">
    <h2>Certificates</h2>
    <p>Validate your knowledge and hireability. With an official certificate your sprintCV will carry extra weight and set you apart from the rest.</p>

    <h4>Your certificates:</h4>
    <table class="cv-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Awarded</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @Html.Raw(user.GetCertificateTableContent())
        </tbody>
    </table>
    <form id="post-action" form action="" method="post">
        <input id="action" type="hidden" name="action" value="" />
        <input id="certificate-id" type="hidden" name="certificate-id" value="" />
    </form>
    <h4>Get a certificate:</h4>
    <ul>
        <li>
            <span id="WebDevTest" class="link">Web Developer Test</span>
        </li>
        <li>
            <span id="MolBioTest" class="link">Molecular Biologist Test</span>
        </li>

    </ul>
</div>


    @if (Convert.ToBoolean(downloadClicked))
    {
        //Certificate
        var certName = "";
        if(@certificate.Type == "WebDevCertificate")
        {
            certName = "WEB DEVELOPER";
        }else if(@certificate.Type == "MolBioCertificate")
        {
            certName = "MOLECULAR BIOLOGIST";
        }

        <div id="hidden-container" style="position:absolute; left:-9999px;width:21cm; height:29.7cm; background: white; border: 1px solid #aaaaaa">
            <div class="div-wrapper" style="position: relative; height: 29.7cm; width: 21cm;">
                <img style="transform: rotate(180deg);" src="~/Images/certificate-border.png" />
                <img style="transform: rotate(270deg); position: absolute; right: 0;" src="~/Images/certificate-border.png" />
                <img style="margin-top: -100px; margin-bottom: 0px; margin-left: 38%; display: block;" src="~/Images/certificate-logo.png" />
                <h1 style="text-align: center; font-size: 36px; color:#2a2d34;">@certName CERTIFICATE</h1>
                <h3 style="text-align: center; font-size: 22px; margin-top: 30px; color:#2a2d34;">is hereby granted to</h3>
                <h1 style="text-align: center; margin-top: 30px; font-size: 48px; color:#2a2d34;">@certificate.FirstName @certificate.LastName</h1>
                <h3 style="text-align: center; margin-top: 50px; font-size: 18px; color:#2a2d34;">GIVEN THIS @certificate.Created.Day<text>TH</text> OF @certificate.GetMonthFromDate(), @certificate.Created.Year</h3>
                <h3 style="margin-top: 50px; text-align: center; font-size: 18px; line-height: 2; color:#2a2d34;">
                    FOR SCORING<br>
                    @certificate.TotalScore out of 100<br>
                    AT OUR OFFICIAL<br>
                    VALIDATION TEST
                </h3>
                <img style="margin-top: 120px; margin-bottom:0px; margin-left:36%; display: block;" src="~/Images/certificate-signature.png" />
                <p style="margin-top:0px; text-align: center; font-size: 16px; color:#2a2d34;">
                    Karin Landutter<br>
                    Recruitment Officer<br>
                    at sprintRecruitment<br>
                    on behalf of<br>
                    sprintCV<br>
                </p>
                <img style="transform: rotate(90deg); position: absolute; left: 0; bottom: 0;" src="~/Images/certificate-border.png" />
                <img style="position: absolute; right: 0; bottom: 0;" src="~/Images/certificate-border.png" />
            </div>
        </div>
    }

